*{
  padding: 0;
  margin: 0;
  box-sizing:border-box
  }

body{
    background: radial-gradient(closest-side, rgba(194,218,242,1) 0%, rgba(216,225,248,1) 100%);
    background-size: 100% auto, cover;
    max-width:100%;
}  

.background-top {
height: 175px;
width: 100%;
border-radius: 50% / 100%;
border-top-left-radius: 0;
border-top-right-radius: 0;
background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}

/* #home-container {
border: 5px solid #0A66C2;

} */

/* Style the navigation menu */
.topnav {
overflow: hidden;
background-color: rgba(159, 204, 255, 0.404);
backdrop-filter: blur(10px);
position:fixed;
top:0;
width: 100vw;
z-index: 1;
border-radius: 0 0 15px 15px;
box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
border: 2px solid rgba(255, 255, 255, 0.5);
border-right: 2px solid rgba(255, 255, 255, 0.2);
border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
display: none;
}

/* Style navigation menu links */
.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-weight: 500;
font-family: 'Ubuntu', sans-serif;
display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
background: #ff000000;
display: block;
position: absolute;
right: 2%;
top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
color: #ffff00;
}

/* Style the active link (or home/logo) */
.active {
background-color: #ffffff00;
color: white;
}

@media (min-width: 1200px){

.hide-desktop{
display: none !important;
}

}

@media (max-width: 1200px){
.hide-mobile{
display: none !important;
}

}

/* fixing image overflow problem on mobile */
img {
max-width: 100%;
}
/* fixing image overflow problem on mobile */

/* Bird */
.birb img{
position: relative;
scale: 60%;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
top: 10px;
}

div.birb {
height: 0px;
}
/* Bird */

/* Nav Bar */

nav{
  position:fixed;
  top: 2%;
  margin: auto;
  z-index:10;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  
} 

.glass{
  background: rgba(159, 204, 255, 0.404);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
      border-radius: 50px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
}
         
      ul {
        display: flex;
        gap: 5rem;
        align-items: center; 
    }     

     li{
        list-style: none;
        text-decoration: none;
        padding: 20px;
     }


.link{
text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 12px;   
  font-weight: 700;

}

a:hover{
  color: rgb(255, 183, 0);
}

/* Grow on hover */
.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
transform: scale(1.1); 

}
/* Grow on hover */


/* Mobile Style */

@media only screen and (max-width: 481px) {

 /* Bird */
 .birb img{
  scale: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  top: -175px;
  position: relative;
  z-index: 0;
}

div.birb {
  height: 0px;
}
/* Bird */
   
nav{
  position:fixed;
  top: 2%;
  margin: auto;
  z-index:10;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  
} 

.glass{
  background: rgba(159, 204, 255, 0.404);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
      border-radius: 50px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
}

    .link{
        font-size: 20px;  
      }

        ul {
          gap: .1rem;
      }      
      li{
        padding: 10px 45px;
      }

      .box-wrapper{
        /* height:350px; */
        border-radius: 35px;
        /* border: 1px solid black; */
      }
      

/* content */
.website-mock {
border-radius: 20px;
/* position: relative; */
scale: 100%;
/* border: solid 1px black; */
}

.description-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* text-align: center; */
/* border: solid 1px black; */
width: 85%;
left: 650px;
margin: auto;
padding-top: 60px;
}

.title-work {
font-size: 40px;
font-weight: 700;
font-family: 'Ubuntu', sans-serif;
text-align: center;
padding-bottom: 20px;
}

.descriptiontext {
font-size: 15px;
font-weight: 300;
font-family: 'Ubuntu', sans-serif;
line-height: 150%;
bottom: 200px;
text-align: left;
padding-bottom: 20px;
}
/* content */

.site {
font-family: 'Ubuntu', sans-serif;
scale: 30%;
padding: 25px;
position: relative;
right: 200px;
}

.business-card {
font-family: 'Ubuntu', sans-serif;
text-align: center;
position: relative;
top: 0px;
}

.credit {
position: relative;
top: 0px;
left: 0px;
font-size: 14px;
text-align: center;
}

.tarot{
  display: flex;
  justify-content: center;
}

.video1{
  display: flex;
  justify-content: center;
  width: 20% !important;
  height: auto !important;
  padding-bottom: 20px;
        }
 .video2{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
         }
  .video3{
     display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      padding-bottom: 20px;
        }

        .tarot {
          padding-bottom: 20px;
        }

    #video1 {
      width: 500% !important;
        }
   #video2 {
     width: 100% !important;
        }
   #video3 {
    width: 100% !important;
         }

}

/* Mobile Style */

/* tablet style */
@media only screen and (min-width: 481px) and (max-width: 1200px) {
  
  /* Bird */
  .birb img{
    scale: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: -270px;
    position: relative;
    z-index: 0;
  }
  
  div.birb {
    height: 0px;
  }
  /* Bird */
     
  nav{
    position:fixed;
    top: 2%;
    margin: auto;
    z-index:10;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    
  } 
  
  .glass{
    background: rgba(159, 204, 255, 0.404);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
  }
  
      .link{
          font-size: 20px;  
        }
  
          ul {
            gap: .1rem;
        }      
        li{
          padding: 10px 45px;
        }
  
        .box-wrapper{
          /* height:350px; */
          border-radius: 35px;
          /* border: 1px solid black; */
        }
        

/* content */
  .website-mock {
  border-radius: 20px;
  /* position: relative; */
  scale: 100%;
  /* border: solid 1px black; */
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* border: solid 1px black; */
  width: 80%;
  left: 650px;
  margin: auto;
  padding-top: 60px;
}

.title-work {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.descriptiontext {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  line-height: 150%;
  bottom: 200px;
  text-align: left;
  padding-bottom: 20px;
}
/* content */

.site {
  font-family: 'Ubuntu', sans-serif;
  scale: 30%;
  padding: 25px;
  position: relative;
  right: 200px;
}

.business-card {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  position: relative;
  top: 0px;
}

.credit {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 14px;
  text-align: center;
}

.video1{
  display: flex;
  justify-content: center;
  width: 20% !important;
  height: auto !important;
  padding-bottom: 20px;
        }
 .video2{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
         }
  .video3{
     display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      padding-bottom: 20px;
        }

        .tarot {
          padding-bottom: 20px;
        }

        #video1 {
          width: 500% !important;
            }
       #video2 {
         width: 100% !important;
            }
       #video3 {
        width: 100% !important;
             }

      }

/* tablet style */

/* Desktop Style \/ */
@media only screen and (min-width: 1200px) {
  
  /* desktop */
  
  /* Bird */
  .birb img{
    scale: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: -400px;
    position: relative;
    z-index: 1;
  }
  
  div.birb {
    height: 0px;
  }
  /* Bird */
     
  nav{
    position:fixed;
    top: 2%;
    margin: auto;
    z-index:10;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    
  } 
  
  .glass{
    background: rgba(159, 204, 255, 0.404);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
  }
  
      .link{
          font-size: 20px;  
        }
  
          ul {
            gap: .1rem;
        }      
        li{
          padding: 10px 45px;
        }
  
        .box-wrapper{
          /* height:350px; */
          border-radius: 35px;
          /* border: 1px solid black; */
        }
     
        .video1{
          display: flex;
          justify-content: center;
          width: 20% !important;
          height: auto !important;
          padding-bottom: 20px;
                }
         .video2{
          display: flex;
          justify-content: center;
          width: 100%;
          height: auto;
          padding-bottom: 20px;
                 }
          .video3{
             display: flex;
              justify-content: center;
              width: 100%;
              height: auto;
              padding-bottom: 20px;
                }
        
                #video1 {
                  width: 500% !important;
                    }
               #video2 {
                 width: 100% !important;
                    }
               #video3 {
                width: 100% !important;
                     }

/* content */
  .website-mock {
  border-radius: 20px;
  /* position: relative; */
  scale: 100%;
  /* border: solid 1px black; */
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* border: solid 1px black; */
  width: 40%;
  left: 650px;
  margin: auto;
  padding-top: 60px;
}

.title-work {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.descriptiontext {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  line-height: 150%;
  bottom: 200px;
  text-align: left;
  padding-bottom: 20px;
}
/* content */

.site {
  font-family: 'Ubuntu', sans-serif;
  scale: 30%;
  padding: 25px;
  position: relative;
  right: 200px;
}

.business-card {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  position: relative;
  top: 0px;
}

.credit {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 14px;
  text-align: center;
}

.tarot {
  padding-bottom: 20px;
}

}