   *{
    padding: 0;
    margin: 0;
    box-sizing:border-box
    }

body{
  background: url('assets/ellipse2.png') no-repeat,radial-gradient(closest-side, rgba(255,255,255,1) 0%, rgba(216,225,248,1) 100%);
  background-size: 100% auto, cover;
  width:100%;
}    

/* Bird */
.birb img{
  scale: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  top: 10px;
  position: relative;
}

div.birb {
  height: 0px;
}
/* Bird */


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgba(159, 204, 255, 0.404);
  backdrop-filter: blur(10px);
  position:fixed;
  top:0;
  width: 100vw;
  z-index: 1;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #ff000000;
  display: block;
  position: absolute;
  right: 2%;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: #ffff00;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ffffff00;
  color: white;
}

@media (min-width: 1200px){

  .hide-desktop{
  display: none !important;
  }

}

  @media (max-width: 1200px){
  .hide-mobile{
  display: none !important;
  }

}

/* fixing image overflow problem on mobile */
img {
  max-width: 100%;
}
/* fixing image overflow problem on mobile */


/* Nav Bar */

nav{
    position:fixed;
    top: 2%;
    margin: auto;
    z-index:10;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    
  } 

 .glass{
    background: rgba(159, 204, 255, 0.404);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
  }
           
        ul {
          display: flex;
          gap: 5rem;
          align-items: center; 
      }     
  
       li{
          list-style: none;
          text-decoration: none;
          padding: 20px;
       }

 
.link{
  text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 12px;   
    font-weight: 700;
  
}

a:hover{
    color: rgb(255, 183, 0);
}

/* Grow on hover */
  .grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  
  }
  /* Grow on hover */

/* Nav Bar */

/* content */
  .website-mock {
  border-radius: 20px;
  /* position: relative; */
  scale: 100%;
  /* border: solid 1px black; */
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* border: solid 1px black; */
  top: 300px;
  width: 70%;
  left: 650px;
  transform: translateY(0px);
  margin: auto;
  padding-top: 250px;
}

.title-work {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  transform: translateY(0px);
  text-align: center;
}

.descriptiontext {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  line-height: 150%;
  bottom: 200px;
  transform: translateY(15px);
  text-align: left;
  padding-bottom: 200px;
}
/* content */

.site {
  font-family: 'Ubuntu', sans-serif;
  scale: 30%;
  padding: 25px;
  position: relative;
  right: 200px;
}

.business-card {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  position: relative;
  top: -150px;
}

.credit {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 14px;
  text-align: center;
}


/* Desktop Style \/ */
  @media only screen and (min-width: 1200px) {
  
/* desktop */

body{
    background: url('assets/Background_Shape.png') no-repeat,radial-gradient(closest-side, rgba(255,255,255,1) 0%, rgba(216,225,248,1) 100%);
    background-size: 100% auto, cover;
    width:100%;
}   

/* Bird */
.birb img{
  scale: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  top: -225px;
  position: relative;
}

div.birb {
  height: 0px;
}
/* Bird */

nav{
  position:fixed;
  top: 2%;
  margin: auto;
  z-index:10;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  
} 

.glass{
  background: rgba(159, 204, 255, 0.404);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
      border-radius: 50px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
}

    .link{
        font-size: 20px;  
      }

        ul {
          gap: .1rem;
      }      
      li{
        padding: 10px 45px;
      }

        .image-gallery {
          display: grid;
          margin-top: 0%;
          scale: 80%;
          height: 100%;
          transform: translateY(0px);
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto;
          grid-gap: 15px;
          padding-top: 150px;
          padding-bottom: 0px;
          grid-template-areas:
          "a b c"
          "d e f"
          "g h i";
      }
    
    /* content */
  .website-mock {
    border-radius: 20px;
    position: relative;
    scale: 65%;
    right: 300px;
    bottom: 0px;
    /* border: solid 1px black; */
  }
  .descrip {
    width: 130%;
  }
  .description-container {
    display: flex;
    /* border: solid 1px black; */
    top: 0px;
    width: 80%;
    left: 650px;
    transform: translateY(400px);
    margin: auto;
    padding-top: 250px;
  }
  
  .title-work {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    transform: translateY(-0px);
    text-align: left;
  }
  
  .descriptiontext {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    line-height: 150%;
    bottom: 200px;
    transform: translateY(10px);
    text-align: left;
    
  }

  .text_descrip {
    position: relative;
    top: -670px;
    left: 130px;
    width: 30%;
  }

  .credit {
    position: relative;
    top: 270px;
    left: -460px;
  }

  .description-container {
    /* border: solid 1px black; */
    max-height: 600px;

  }

  .business-card {
    text-align: center;
    position: relative;
    top: -150px;
    left: 50px;
  }

  .site {
    font-family: 'Ubuntu', sans-serif;
    scale: 30%;
    padding: 25px;
    position: relative;
    right: 200px;
  }

  .fireknight {
    position: relative;
    width: 50%;
    top: -130px;
  }

  .tarot {
    position: relative;
    width: 60%;
    top: -130px;
  }

  .text_descrip_tarot {
    position: relative;
    top: -520px;
    left: 130px;
    width: 30%;
  }

  .text_descrip_crab {
    position: relative;
    top: -670px;
    left: 130px;
    width: 30%;
  }

  .sirbird {
    position: relative;
    width: 50%;
    left: 140px;
    scale: 120%;
    top: -130px;
  }

  /* content */

  

    }

 